.banner{
    position: relative;
    background-image: url("../img/splash.jpg");
      /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner__expandMore{
    font-size: 60px !important;
    color: #f9f9f9 !important;
}

.banner__btn{
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    background-color: #ec1c24 !important;
    color: #f9f9f9 !important;
    text-transform: inherit !important;
    width: 200px !important;
    height:  60px !important;
}

.banner__btn:hover{
    color: #252525 !important;
    border-radius: 5px !important;
    background-color: #f9f9f9 !important;
}

.banner__text{
    text-align: center;
    padding: 170px;
}

.banner__text>p{
    color: #ec1c24;
    margin-top: 10px;
}

.banner__text>h1{
    color: #f9f9f9;
}

@media(max-width:900px){
    .banner__text{
        text-align: center;
        padding: 100px;
    }
}