.dashboard{
    position: relative;
}
.dashboard__content{
    display: flex;
    justify-content: space-between;
}

.dashboard__left{
    flex: 1;
}

.dashboard__left>h1{
    color: #f9f9f9;
    padding: 20px;
    background-color: #252525;
}

.dashboard__right{
    flex: 0.3;
}

@media(max-width: 900px){
    .dashboard__content{
        flex-direction: column;
    }
}