.dashboardHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #252525;
    font-size: 11px;
    color: #f9f9f9;
    padding: 10px;
}
.dashboardHeader__left{
    display: flex;
    flex:0.2;
    align-items: center;
}
.dashboardHeader__left>p{
    padding-left: 10px;
    font-size: 18px;
}
.dashboardHeader__center{
    display: flex;
    flex: 0.4;
    align-items: center;
    background-color: #f9f9f9;
    border-radius: 30px;
    height: 30px;
    padding: 5px;
    margin-right: 10px;
    margin-left: 10px;
}

.dashboardHeader__searchIcon{
    color: #252525 !important;
    background-color: #ec1c24 !important;
    padding: 8px !important;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-right: -5px  !important;
    width: 40px !important;
}

.dashboardHeader__center>input{
    width: 100%;
    padding: 10px;
    border-radius: 30px;
}

.dashboardHeader__right{
    display: flex;
    flex:0.4;
    align-items: center;
    justify-content: space-between;
}
.dashboardHeader__right>p{
    font-size: 14px;
    padding: 5px;
}
.dashboardHeader__links{
    color: #f9f9f9;
    text-decoration: none;
    font-size: 14px;
}
.dashboardHeader__links:hover{
    color: #ec1c24;
    cursor: pointer;
}
.dashboardHeader__user{
    display: flex;
    align-items: center;
}
.dashboardHeader__active{
    color: green !important;
    margin-right: 2px !important;
    font-size: 5px !important;
}
.dashboardHeader__logoutBtn{
    text-transform: inherit !important;
    color: #f9f9f9 !important;
}

.dashboardHeader__logoutBtn:hover{
    background-color: #252525 !important;
    color: #ec1c24 !important;
}

.dashboardHeader__menuIcon{
    color: #f9f9f9;
}

.nav-menu{
    background-color: #252525;
    width: 250px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -100%;
    transition: 850ms;
    padding-top: 20px;

}

.dashboardHeader__close{
    color: #f9f9f9 !important;
}

.nav-menu.active{
    left: 0;
    transition: 350ms;
    position: absolute;
}

@media(max-width: 900px){

    .dashboardHeader{
        flex-direction: column;
        align-items: flex-start;
    }

    .dashboardHeader__center{
        width: 95%;
        margin-left: 0;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .dashboardHeader__links{
        margin-right: 8px;
    }
    .dashboardHeader__searchIcon{
        background-color: #f9f9f9 !important;
        color: #ec1c24 !important;
    }
    .dashboardHeader__logoutBtn{
        margin-left: 8px !important;
    }
}    