.jokes{
    background-color: #f9f9f9;
    font-size: 11px;
}

.jokes__header{
    position: sticky;
    top: 56px;
    z-index: 100;
    padding: 20px;
    background-color: #252525;
    color: #f9f9f9;
}

.jokes__container{
    padding: 20px;
}

.jokes__container>p{
    margin-top: 10px;
}

.jokes__response{
    color: #ec1c24;
}