.login{
    font-size: 11px;
}
.login>h1{
    text-align: center;
    margin-top: 60px;
    color: #f9f9f9;
}
.login__container{
    display: flex;
    flex-direction: column;
    margin: 7% auto;
    width: 350px;
    background-color: #f9f9f9;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    margin-top: 60px;
    border-radius: 5px;
}

.login__containerImage>img{
    height: 100px;
    width: 350px !important;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}

.login__containerCard{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 300px;
    -moz-box-shadow: 0 0 8px #ccc;
    -webkit-box-shadow: 0 0 8px #ccc;
    box-shadow: 0 0 8px #ccc;
    margin-top: -12px;
    
}

.login__containerCard>h2{
    text-align: center;
    padding: 20px;
}

.login__emailInput{
    display: flex;
    width: 280px;
    margin: 0 auto;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    margin-bottom: 20px;
    border-radius: 5px;
}

.login__emailInput>input{
    border: none;
    width: 100%;
    background-color: #f9f9f9;
    padding-left: 10px;
}

.login__emailInput>input:focus{
    outline: none;
    background-color: #f9f9f9;
}

.login__passwordInput{
    display: flex;
    width: 280px;
    margin: 0 auto;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    margin-bottom: 10px;
    border-radius: 5px;
}

.login__passwordInput>input{
    border: none;
    width: 100%;
    background-color: #f9f9f9;
    padding-left: 10px;

}

.login__passwordInput>input:focus{
    outline: none;
    background-color: #f9f9f9;
}

.login__icon{
    padding: 2px;
    /* background-color: #000000;
    color: #ec1c24; */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.login__reset>p{
    text-align: center;
    margin-top: 10px;
}

.login__reset p span{
    color: #ec1c24;
    cursor: pointer;
}

.login__link{
    text-decoration: none;
    color: #ec1c24;
  }

.login__btn{
    text-transform: inherit !important;
    background-color: #ec1c24 !important;
    color: #f9f9f9 !important;
    font-weight: 600 !important;
    margin-top: 20px !important;
    height: 30px;
    margin-bottom: -14px;
    border-radius: 5px;
}

.login__btn:hover{
    mask-image: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.5));
}

.login__containerContent{
    text-align: center;
    padding: 20px;
}

.login__containerContent p span{
    color: #ec1c24;
    cursor: pointer;
}

.login__snackbar{
    background-color: #ec1c24 !important;
 }