.passwordReset>p{
    text-align: center;
    margin-top: 100px;
}

.passwordReset__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 350px;
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #ccc;
    margin-top: 20px;
    margin-bottom: 100px;
    padding: 20px;
    border-radius: 5px;
}

.passwordReset__form>h2{
    text-align: center;
    padding: 20px;
}

.passwordReset__emailInput{
    display: flex;
    width: 280px;
    margin: 0 auto;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
    margin-bottom: 20px;
    border-radius: 5px;
}

.passwordReset__emailInput>input{
    border: none;
    width: 100%;
    background-color: #f9f9f9;
    padding-left: 10px;
}

.passwordReset__emailInput>input:focus{
    outline: none;
    background-color: #f9f9f9;
}